#listHeader {
  display: flex;
  align-items: center;

  width: 100%;
  height: 3.5rem;
  padding: 0 var(--space-lg);
  gap: var(--space-xs);

  font-size: var(--font-sm);
  line-height: var(--line-height-base);

  border-bottom: var(--border-width) var(--border) solid;
}

#menu {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--space-sm);
}

#listFilter {
  display: flex;
  flex-direction: row;
  color: var(--text-primary);
}

#filterMood {
  height: 1.2rem;
  margin-right: 0.25rem;
}

#clearFilter {
  display: none;
}

#list {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow-y: scroll;
  padding-bottom: var(--space-xl);
}

.date {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  padding: var(--space-md) var(--space-md) 0 var(--space-lg);
  margin-top: var(--space-md);

  font-size: var(--font-sm);
  color: var(--text-secondary);
  font-weight: 500;

  border-top: var(--border) var(--border-width) solid;
}

.date:first-of-type {
  margin-top: 0;
  border-top: none;
}

.item {
  display: flex;
  gap: var(--space-sm);
  flex-shrink: 0;

  overflow: hidden;

  padding: var(--space-sm) var(--space-lg);
  width: 100%;
}

.itemSentiment {
  width: 2rem;
  height: 2rem;

  margin-top: var(--space-xs);
  border-radius: 1rem;

  cursor: pointer;
  transition: 0.4s ease;
}

.itemSentiment:hover {
  transform: scale(1.25);

  transition: 0.4s ease;
}

.itemContent {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.itemText {
  width: 100%;
  max-width: 44rem;

  line-height: var(--line-height-base);
  color: var(--text-primary);
}

.itemHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.itemData {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;

  font-size: var(--font-sm);
  color: var(--text-secondary);
}

.itemTag {
  cursor: pointer;
}

.itemTag:hover {
  color: var(--text-primary);
}

.itemDelete {
  flex-shrink: 0;

  font-size: var(--font-sm);
  color: var(--text-secondary);

  cursor: pointer;
}

.itemDelete:hover {
  color: var(--text-primary);
}

@media (max-width: 920px) {
  #listHeader {
    padding: var(--space-md) var(--space-md) var(--space-sm) var(--space-md);
  }

  .item {
    padding: var(--space-sm) var(--space-md);
    gap: var(--space-xs);
  }

  .menuItem:hover,
  .menuItem a:hover,
  .itemDelete:hover {
    color: var(--text-secondary);
  }
}
