* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  background-color: var(--background);

  color: var(--text-primary);
}

.app {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100svh;
}

.button {
  color: var(--text-secondary);
  font-size: var(--font-sm);
  text-transform: uppercase;
  align-content: top;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.button:hover {
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

.privacy-policy {
  max-width: 720px;
  margin: 0 auto;
  padding: var(--space-lg);
  background-color: var(--background);
  color: var(--text-primary);
}

.privacy-policy h1 {
  line-height: 120%;
}

.privacy-policy h2 {
  padding-top: var(--space-xl);
  margin-bottom: var(--space-sm);
}

.privacy-policy p {
  margin-top: var(--space-sm);
}

#wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@media (max-width: 920px) {
  .app {
    flex-direction: column-reverse;
  }

  #wrapper {
    flex: 1;
    margin-bottom: 33svh;

    height: 0;
    transition: opacity 0.2s ease-out;
  }

  .app.keyboard-open #wrapper {
    opacity: 0.5;
  }

  .app.keyboard-open #newItem {
    opacity: 1;
  }
}
