* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  background-color: var(--background);

  color: var(--text-primary);
}

.app {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100svh;
}

.button {
  padding: 0.25rem var(--space-sm);
  border-radius: var(--space-md);
  background-color: var(--button-bg);

  color: var(--text-secondary);
  font-size: var(--font-sm);
  line-height: var(--line-height-base);

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.button:hover {
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

#wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@media (max-width: 920px) {
  .app {
    flex-direction: column-reverse;
  }

  #wrapper {
    flex: 1;

    height: 0;
  }
}
