* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  background-color: var(--background);

  color: var(--text-primary);
}

.app {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100svh;
}

#newItem {
  display: flex;
  flex-direction: column;

  width: 40%;
  height: 100%;
  max-height: 100svh;
  padding: var(--space-sm) 0;

  outline: var(--border-width) var(--border) solid;
}

#listContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.button {
  color: var(--text-secondary);
  font-size: var(--font-sm);
  text-transform: uppercase;
  align-content: top;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.button:hover {
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

.privacy-policy {
  max-width: 720px;
  margin: 0 auto;
  padding: var(--space-lg);
  background-color: var(--background);
  color: var(--text-primary);
}

.privacy-policy h1 {
  line-height: 120%;
}

.privacy-policy h2 {
  padding-top: var(--space-xl);
  margin-bottom: var(--space-sm);
}

.privacy-policy p {
  margin-top: var(--space-sm);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@media (max-width: 920px) {
  .app {
    display: block;
  }

  #newItem {
    position: fixed;
    width: calc(100vw - 2 * var(--space-xs));
    margin-left: var(--space-xs);
    bottom: var(--space-xs);
    height: 33svh;

    padding: var(--space-xs) 0;
    border-radius: 1rem;

    background-color: #312e2dcc;
    backdrop-filter: blur(10px);

    z-index: 1;
  }

  #listContainer {
    padding-bottom: 33svh;

    transition: opacity 0.2s ease-out;
  }

  .app.keyboard-open #wrapper {
    opacity: 0.5;
  }

  .app.keyboard-open #newItem {
    opacity: 1;
  }
}
