#newItem {
  display: flex;
  flex-direction: column;

  width: 40%;
  height: 100%;
  max-height: 100svh;
  padding: var(--space-md) 0 var(--space-md) var(--space-md);

  outline: var(--border-width) var(--border) solid;
}

#tagWrapper {
  display: flex;
  flex-direction: row;

  height: 1.25rem;

  font-size: var(--font-sm);
  line-height: var(--line-height-base);
  color: var(--text-secondary);
}

#newItemTag {
  width: 15rem;

  font-size: var(--font-sm);
  color: var(--text-secondary);
  line-height: var(--line-height-base);
  text-transform: uppercase;

  padding: 0 0 0 0.25rem;
  background-color: var(--background);
  border: none;
}

#newItemText {
  flex: 1;

  font-size: var(--font-xl);
  line-height: var(--line-height-base);
  resize: none;
  color: var(--text-primary);

  padding: var(--space-xs) var(--space-lg) 0 0;
  background-color: var(--main);
  border: none;
}

#newItemText:focus,
#newItemTag:focus {
  outline: none;
}

#newItemText::placeholder,
#newItemTag::placeholder {
  color: var(--text-secondary);
  opacity: 0.5;
}

.newItemControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-right: var(--space-md);
  padding-top: var(--space-xs);
}

.sentimentSelect {
  display: flex;
  flex-direction: row;
  height: 3rem;
}

.sentimentLabel {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.3, 0, 0.2, 1);
}

.sentimentLabel img {
  height: 2.75rem;
  width: 2.75rem;

  opacity: 0.5;
  filter: grayscale(1);
  transition: all 0.2s cubic-bezier(0.3, 0, 0.2, 1);
}

input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.sentimentLabel:hover img {
  opacity: 1;
  filter: grayscale(0);
}

input[type="radio"]:checked ~ img {
  width: 3.5rem;
  height: 3.5rem;

  opacity: 1;
  filter: grayscale(0);
}

#actionButton {
  display: flex;
  padding: 0;
  height: 44px;
  width: 44px;

  border: none;
  border-radius: 1.5rem;
  background: none;

  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#actionButton svg {
  fill: var(--text-primary);
}

#actionButton:hover {
  cursor: pointer;

  transform: rotate(-45deg);
}

@media (max-width: 920px) {
  #newItem {
    width: 100%;
    height: 33svh;

    padding-top: var(--space-sm);
    padding-bottom: var(--space-lg);

    z-index: 1;
  }

  #tagWrapper {
    font-size: var(--font-md);
    height: 1.5rem;
  }

  #newItemTag {
    font-size: var(--font-md);
  }

  #newItemText {
    font-size: var(--font-lg);
    line-height: var(--line-height-base);
  }

  #actionButton {
    transform: rotate(-90deg);
  }

  #actionButton:hover {
    transform: rotate(-90deg);
    transition: none;
  }
}
