#tagWrapper {
  display: flex;
  flex-direction: row;

  height: 1.25rem;

  font-size: var(--font-sm);
  line-height: var(--line-height-base);
  color: var(--text-secondary);
  padding: 0 var(--space-md);
}

#tagLabel {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

#tagLabel span {
  opacity: 0.5;
}

#newItemTag {
  width: 100%;

  font-size: var(--font-sm);
  color: var(--text-secondary);
  line-height: var(--line-height-base);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

#newItemText {
  flex: 1;

  font-size: var(--font-xl);
  line-height: var(--line-height-base);
  resize: none;
  color: var(--text-primary);

  padding: var(--space-xs) var(--space-md);
  background-color: transparent;
  border: none;

  font-weight: 500;

  letter-spacing: -0.02em;
}

#newItemText:focus,
#newItemTag:focus {
  outline: none;
}

#newItemText::placeholder,
#newItemTag::placeholder {
  color: var(--text-secondary);
  opacity: 0.5;
}

.newItemControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 var(--space-md);
}

.sentimentSelect {
  display: flex;
  flex-direction: row;
  height: 3rem;
  gap: 0.1rem;
  margin-left: -0.25rem;
}

.sentimentLabel {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.3, 0, 0.2, 1);
}

.sentimentLabel img {
  height: 2.75rem;
  width: 2.75rem;

  opacity: 0.2;
  filter: grayscale(1) sepia(0.25);
  transition: all 0.2s cubic-bezier(0.3, 0, 0.2, 1);
}

input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.sentimentLabel:hover img {
  opacity: 1;
  filter: grayscale(0);
}

input[type="radio"]:checked ~ img {
  width: 3.25rem;
  height: 3.25rem;

  opacity: 1;
  filter: grayscale(0);
}

#actionButton {
  display: flex;
  padding: 0;
  height: 2.5rem;
  width: 2.5rem;

  border: none;
  border-radius: 1.5rem;
  background: none;
}

.actionCircle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--button-bg);
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  transition: scale 0.15s ease;
}

#actionButton:hover {
  cursor: pointer;
}

#actionButton:hover .actionCircle {
  scale: 1.25;
}

#actionButton:active .actionCircle {
  scale: 0.95;
}

@media (max-width: 920px) {
  #newItemText {
    font-size: var(--font-lg);
    line-height: var(--line-height-base);
    padding: var(--space-xs) var(--space-sm);
  }

  #tagWrapper {
    padding: 0 var(--space-sm);
  }

  .newItemControls {
    padding: 0 var(--space-sm);
  }
}
