:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
  line-height: var(--line-height-base);

  color-scheme: light;

  --background: #f5f2f0;
  --text-primary: #3d3935;
  --text-secondary: #857f7a;
  --button-bg: #eceae8;
  --border: #e3dfdb;

  --border-width: 1px;

  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.25rem;
  --space-xl: 2rem;

  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 2rem;
  --line-height-base: 140%;

  --card-rounded: 0.75rem;
  --button-rounded: 0.375rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --background: #2a2929;
    --text-primary: #ebe6e4;
    --text-secondary: #7f7b7a;
    --button-bg: #5d5a58;
    --border: #302f2e;
  }
}
